@import "tailwindcss";

@font-face {
  font-family: "atari_classicchunky";
  src: url("atari_font.woff2") format("woff2"),
    url("atari_font.woff") format("woff");
  font-size: xx-small !important;
}

body {
  font-family: "atari_classicchunky" !important;
}

@layer base, tokens, animations,  components, utilities;
@layer tokens {
  :root {
    --ratio: 257 / 364;
    --t: 0.133333334s;
    --min-card-width: 192px;
    --accent: oklch(from #ffd60a l c h);
    --surface: oklch(from #166496 0.12 min(c, 0.0512) h);
    --avarage-l: 0.48;
    --avarage-l-2: 0.36;
    --avarage-base: oklch(from #ffd60a var(--avarage-l) 0.0192 h);
    --text: white;
    --radius: 0.5rem;
    --border-size: 0.25rem;
    background: var(--surface);
    color: var(--text);
    font-size: clamp(
      0.875rem,
      0.8214285714rem + 0.2380952381vw,
      1rem
    ) !important;
    line-height: 1.3;
    font-family: Arial, sans-serif;
  }

  @media (prefers-color-scheme: light) {
    :root {
      --avarage-l: 0.72;
      --avarage-l-2: 0.6;
      --accent: oklch(from #166496 l c h);
      --surface: oklch(from #ffd60a 1 min(c, 0.0256) h);
      --avarage-base: oklch(from #ffd60a 0.48 0.0192 h);
      --text: black;
    }
  }
  @property --item-scale {
    syntax: "<number>";
    inherits: true;
    initial-value: 1;
  }
  @property --item-angle {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0deg;
  }
}
@layer animations {
  @-webkit-keyframes shrink-top {
    0% {
      --item-scale: 0.5;
      --item-angle: -60deg;
      transform-origin: top;
    }
  }
  @keyframes shrink-top {
    0% {
      --item-scale: 0.5;
      --item-angle: -60deg;
      transform-origin: top;
    }
  }
  @-webkit-keyframes shrink-bottom {
    0% {
      --item-scale: 0.5;
      --item-angle: 60deg;
      transform-origin: bottom;
    }
  }
  @keyframes shrink-bottom {
    0% {
      --item-scale: 0.5;
      --item-angle: 60deg;
      transform-origin: bottom;
    }
  }
}
@layer base {
  body,
  figure {
    margin: 0;
  }

  img {
    width: 100%;
    height: auto;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
}
@layer components {
  h1 {
    color: var(--accent);
    font-family: "atari_classicchunky";
  }

  section {
    position: relative;
    perspective: 4000px;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(
      auto-fill,
      minmax(var(--min-card-width), 1fr)
    );
  }
  section header {
    grid-column: 1/-1;
  }

  article {
    --deg: 0.8deg;
    --y: 0;
    --avarage: oklch(from var(--avarage-color) var(--avarage-l) 0.0192 h);
    --shadow-color: oklch(
      from var(--avarage, var(--avarage-base)) var(--avarage-l-2) c h
    );
    --shadow-distance: var(--border-size);
    border: var(--border-size) solid var(--avarage, var(--avarage-base));
    border-radius: var(--radius);
    background-color: var(--avarage, var(--avarage-base));
    background-image: radial-gradient(
      oklch(from var(--shadow-color) l c h) 1px,
      transparent 0px
    );
    background-repeat: repeat;
    background-size: 7px 7px;
    background-position: center;
    box-shadow: 1px 1px var(--surface),
      var(--shadow-distance) var(--shadow-distance) var(--shadow-color);
    opacity: min(var(--item-scale), 0.8);
    transform: rotate(var(--deg)) translateY(var(--y)) scale(var(--item-scale))
      rotateX(var(--item-angle));
    transition: all var(--t) ease-in-out;
    will-change: transform;
    transform-style: preserve-3d;
  }
  article:hover {
    --deg: 0 !important;
    --y: -1.25ch;
    --shadow-distance: calc(var(--border-size) * 2);
    opacity: 1;
    cursor: pointer;
  }

  /* @supports (animation-timeline: view()) {
    article {
      animation: shrink-top both ease-in-out,
        shrink-bottom both ease-in-out reverse;
      animation-timeline: view(block);
      animation-range: entry, exit;
    }
  } */
  figure img {
    aspect-ratio: var(--ratio);
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: calc(var(--radius) - var(--border-size));
  }

  figure figcaption {
    font-family: "atari_classicchunky";
    margin: 1ch;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    word-break: break-word;
    line-height: 1;
    color: white;
  }
}
@layer utilities {
  article:nth-child(2n) {
    --deg: -0.8deg;
  }

  article:nth-child(2n + 1) {
    --deg: -0.6deg;
  }

  article:nth-child(3n) {
    --deg: 0.6deg;
  }

  article:nth-child(4n + 2) {
    --deg: -0.75deg;
  }

  article:nth-child(5n) {
    --deg: 0.25deg;
  }

  article:nth-child(6n + 3) {
    --deg: -0.3deg;
  }

  article:nth-child(7n) {
    --deg: 0.9deg;
  }
}

.retro {
  display: inline-block;
  vertical-align: middle;
  padding: 0.375rem 0.75rem;
  background: white;
  color: black;
  text-align: left;
  border: 3px solid black !important;
  border-radius: 0;
  box-shadow: 3px 3px black, 5px 5px white;
  padding-right: 5%;
  margin-top: 20px;
}

.retro:hover {
  color: black;
  background: white;
  cursor: pointer;
}

.retro:active {
  box-shadow: 0px 0px white;
  transform: translateX(5px) translateY(2px);
}

.rbtn-small {
  box-shadow: 2px 2px black, 4px 4px white;
  padding: 6px;
}

.rbtn-big {
  box-shadow: 2px 2px black, 3px 3px white;
  padding: 20px;
}

.retro-img {
  display: inline-block;
  vertical-align: middle;
  user-select: none;
  background: white;
  color: black;
  text-align: center;
  border-radius: 0;
  box-shadow: 3px 3px black, 5px 5px white;
}

.retro-img:active {
  background-color: white !important;
  color: black !important;
  box-shadow: 0px 0px white;
  transform: translateX(5px) translateY(2px);
}

.game {
  position: relative;
  width: auto;
  height: 100%;
}

.container {
  position: relative;
  display: inline-block;
  top: 200px;
}


.dot {
  position: absolute;
  width: 20px;
  height: 20px;
  margin: -10px 5px 5px -10px;
  border-radius: 20px;
  background-color: #f25f5c;
  box-shadow: inset 2px 2px #d90429;
}

.dice-one {
  position: absolute;
  left: -50px;
  top: 100px;
}

.dice {
  position: relative;
  width: 100px;
  height: 100px;
  transform-style: preserve-3d;
  transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1); /* Smooth rolling transition */
}

.side {
  position: absolute;
  background-color: #fff;
  border-radius: 5px;
  width: 100px;
  height: 100px;
  border: 1px solid #e5e5e5;
  text-align: center;
  line-height: 2em;
}

/* Position the 6 sides of the dice in 3D space */
.side:nth-child(1) { 
  transform: translateZ(3.1em); /* Front */
}

.side:nth-child(2) {
  transform: rotateY(90deg) translateZ(3.1em); /* Right */
}

.side:nth-child(3) {
  transform: rotateY(180deg) translateZ(3.1em); /* Back */
}

.side:nth-child(4) {
  transform: rotateY(-90deg) translateZ(3.1em); /* Left */
}

.side:nth-child(5) {
  transform: rotateX(90deg) translateZ(3.1em); /* Top */
}

.side:nth-child(6) {
  transform: rotateX(-90deg) translateZ(3.1em); /* Bottom */
}

/* Now apply the corresponding rotation for each dice face for the results */
.show-1 {
  transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}

.show-2 {
  transform: rotateY(-90deg);
}

.show-3 {
  transform: rotateY(180deg);
}

.show-4 {
  transform: rotateY(90deg);
}

.show-5 {
  transform: rotateX(-90deg);
}

.show-6 {
  transform: rotateX(90deg);
}
.two-1,
.three-1,
.four-1,
.five-1,
.six-1 {
  top: 20%;
  left: 20%;
}

.four-3,
.five-3,
.six-4 {
  top: 20%;
  left: 80%;
}

.one-1,
.three-2,
.five-5 {
  top: 50%;
  left: 50%;
}

.four-2,
.five-2,
.six-3 {
  top: 80%;
  left: 20%;
}

.two-2,
.three-3,
.four-4,
.five-4,
.six-6 {
  top: 80%;
  left: 80%;
}

.six-2 {
  top: 50%;
  left: 20%;
}

.six-5 {
  top: 50%;
  left: 80%;
}

.first-face {
  display: flex;
  justify-content: center;
  align-items: center;
}

.second-face {
  display: flex;
  justify-content: space-between;
}

.second-face .pip:nth-of-type(2) {
  align-self: flex-end;
}

.third-face {
  display: flex;
  justify-content: space-between;
}

.third-face .pip:nth-of-type(2) {
  align-self: center;
}

.third-face .pip:nth-of-type(3) {
  align-self: flex-end;
}

.fourth-face,
.sixth-face {
  display: flex;
  justify-content: space-between;
}

.fourth-face .column,
.sixth-face .column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fifth-face {
  display: flex;
  justify-content: space-between;
}

.fifth-face .column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fifth-face .column:nth-of-type(2) {
  justify-content: center;
}



[class$="face"] {
  padding: 4px;
  background-color: #e7e7e7;
  width: 64px;
  height: 64px;
  object-fit: contain;
  box-shadow: inset 0 5px white, inset 0 -5px #bbb, inset 5px 0 #d7d7d7,
    inset -5px 0 #d7d7d7;
  border-radius: 10%;
  border: 4px solid black;
}



.pip {
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin: 4px;
  background-color: blueviolet;
  box-shadow: inset 0 3px #8b19db, inset 0 -3px #555;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}
